{% extends '::base.html.twig' %}

{% block content -%}
<div class="row">
    {#<h1>Lista tematów</h1>#}
    <div class="col-sm-2">
        <a class="btn btn-primary" href="{{ path('topic_new') }}">
            Utwórz nowy temat
        </a>
    </div>

    <div class="col-sm-4 form-group">

        <select class="form-control" id="sel1" >
            <option>Wybierz kategorie</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
    </div>
    <label> </label>
    <div class="col-sm-4 ">
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-primary" href="{{ path('admin') }}">
            Zarządzaj użytkownikami
        </a>
        <a class="btn btn-primary" href="{{ path('category') }}">
            Zarządzaj kategoriami
        </a>
        {% endif %}
    </div>

</div>

{#{% arr = array() %}#}

{#{% for entity in entities %}#}


{#{% endfor %}#}

    <ul>



    </ul>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Kategoria</th>
                <th>Temat</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Edytuj</th><th>Usuń</th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.category }}</td>
                {#<td><a href="{{ path('topic_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>#}
                <td><a href="{{ path('topic_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    {#<ul class="record_actions">#}
                    <a class="" href="{{ path('topic_edit', { 'id': entity.id }) }}">edytuj</a>
                    {#<a href="{{ path('post_show', { 'id': entity.id }) }}">show</a> |#}
                    {#</ul>#}
                </td>
                    <td> {% set delete_form = delete_forms[loop.index0] %}
                        {{ form_start(delete_form) }}
                        {#<input type="submit" value="Delete" />#}
                        {{ form_end(delete_form) }}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% endblock %}
