{% extends '::base.html.twig' %}

{% block content -%}
    <h1>Lista tematów</h1>

    {% if is_granted('ROLE_ADMIN') %}
    test
    {% endif %}

    <table class="records_list">
        <thead>
            <tr>
                <th>Kategoria</th>
                <th>Temat</th>
                <th>*</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {#<td>{{ entity.category_id }}</td>#}
                <td></td>
                <td><a href="{{ path('topic_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>
                    <ul class="record_actions">


                    <a href="{{ path('topic_edit', { 'id': entity.id }) }}">edytuj</a> |
                    <a href="{{ path('post_show', { 'id': entity.id }) }}">show</a> |
                        usuń
                    {#<li>{{ form(delete_form) }}<li>#}

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>

            <a class="btn btn-primary" href="{{ path('topic_new') }}">
                Utwórz nowy temat
            </a>

    </ul>
    {% endblock %}
