{% extends '::base.html.twig' %}

{% block content -%}

    <ul class="record_actions">
        <li>
            <a href="{{ path('topic') }}">
                Back to the list
            </a>

    <h1>{{ entity.name }}</h1>
            {#<h1>{{ entity.category_id }}</h1>#}




    </li>
    {#<li>#}
        {#<a href="{{ path('topic_edit', { 'id': entity.id }) }}">#}
            {#Edit#}
        {#</a>#}
    {#</li>#}
    <li>{{ form(delete_form) }}</li>
</ul>
<table class="table table-striped">
    <thead>
        <th>Autor</th>
        <th>Post</th>
    </thead>
    {% for post in entity.post %}
    <tbody>
        <td>

            {{ post.userId }}


        </td>
        <td>


            {{ post.message }}

        </td>
    </tbody>
    {% endfor %}
</table>

    <a href="{{ path('post_new', { 'id': entity.id }) }}">
        Odpowiedz
    </a>

{% endblock %}
