{% extends '::base.html.twig' %}

{% block content -%}
    <h1>Użytkownicy</h1>

    <a class="btn btn-primary" href="{{ path('admin_new') }}">
        Utwórz nowego użytkownika
    </a>

    <table class="records_list table-striped">
        <thead>
            <tr>
                <th>Nazwa użytkownika</th>
                <th>Email</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.username }}</td>
                <td>{{ entity.email }}</td>
                {#<td>{{ entity.roles }}</td>#}
                <td></td>
                <td>
                        {#<a href="{{ path('admin_show', { 'id': entity.id }) }}">show</a>#}

                        <a href="{{ path('admin_edit', { 'id': entity.id }) }}">Edytuj/Usuń</a>
                </td>
            </tr>
            {{ dump(entity.roles) }}
        {% endfor %}
        </tbody>
    </table>


    {% endblock %}
