{% extends '::base.html.twig' %}

{% block content -%}

    {% set break = false %}
    {% for entity in entities if not break %}
        <h2>{{ entity.topic }}</h2>
        {% set break = true %}

    {% endfor %}


    <table class="records_list table table-striped">
        <thead>
            <tr>
                <th>Author</th>
                <th>Message</th>
                <th>Createdat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}


            <tr>
                <td>{{ (entity.userId) }}</td>
                <td>{{ entity.message }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>

                        <a href="{{ path('post_show', { 'id': entity.id }) }}">show</a> |

                        <a href="{{ path('post_edit', { 'id': entity.id }) }}">edit</a>

                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>

            <a href="{{ path('post_new', { 'id': topicId }) }}">
               Odpowiedz
            </a>

    </ul>
    {% endblock %}
