{% extends '::base.html.twig' %}

{% block content -%}
    <h1>Kategorie</h1>

    <table class="records_list table table-striped">
        <thead>
            <tr>

                <th>Nazwa</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {#<td><a href="{{ path('category_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                <td>{{ entity.name }}</td>
                <td>


                        {#<a href="{{ path('category_show', { 'id': entity.id }) }}">show</a> |#}


                        <a href="{{ path('category_edit', { 'id': entity.id }) }}">Edytuj/Usuń</a>


                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a class="btn btn-primary" href="{{ path('category_new') }}">
                Utwórz nową kategorie
            </a>

    {% endblock %}
