{% extends '::base.html.twig' %}

{% block content -%}
    <h1>{{ entity.name }}</h1>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>Tematy</th>
            <th>Autor</th>

        </tr>
        </thead>

        <tbody>
        {% for topic in entity.topic %}
            <tr>
                <td>
                    <a href="{{ path('topic_show', { 'id': topic.id }) }}">{{ topic.name }}</a>
                </td>
                <td>
                    {{ topic.post[0].userId }}
                </td>


                {#{% if (app.user.id == post.userId.id) or (is_granted('ROLE_ADMIN'))  %}#}
                    {#&#123;&#35;{% if is_granted('ROLE_ADMIN') %}&#35;&#125;#}
                    {#&#123;&#35;{% if  %}&#35;&#125;#}
                    {#<td><a href="{{ path('post_edit', { 'id': post.id }) }}">Edytuj/Usuń</a></td>#}
                {#{% endif %}#}

            </tr>
        {% endfor %}
        </tbody>

    </table>



        {#<a href="{{ path('category_edit', { 'id': entity.id }) }}">#}
            {#Edit#}
        {#</a>#}

    {#<li>{{ form(delete_form) }}</li>#}

{% endblock %}
